.nav{
    z-index: 1000;
    background-color: white;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(43, 43, 43, 0.137);
}

.logo{
    background-color: orangered;
    width: 58px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    right: 2vmax;
}

.navlinks{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
}

.searchbox{
    position: relative;
    left: 5vmax;
}

.searchbox > input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.76);
    width: 15vmax;
    font-size: 1.1vmax;
    color: rgb(61, 61, 61);
    outline: none;
    font-weight: 100;
}
.searchbox >svg{
    fill: rgb(61, 61, 61);
}

.navlinks:hover{
    text-decoration: none;
    color: orangered;
}
#logoImage{
    transition: all 0.2s;
    transform: translateX(-58px);
}

#logoImage:hover{
    transform: translateX(0);
}